@inherits LayoutComponentBase
<div id="app">
    <TopMenu />
    <div class="wrap">
        <SideMenu />
        <div class="pivot-example-container">
            @Body
        </div>
    </div>
</div>
