<div class="side-menu">
    <ol>
        <li class="tab-button">
            <NavLink ActiveClass="router-link-exact-active" href="/pivot-table-demo">PIVOT TABLE DEMO</NavLink>
        </li>
    </ol>
    <div class="sub-title">API and Events</div>
    <ol>
        <li class="tab-button">
            <NavLink ActiveClass="router-link-exact-active" href="/handling-events">HANDLING EVENTS</NavLink>
        </li>
        <li class="tab-button">
            <NavLink ActiveClass="router-link-exact-active" href="/using-api-calls">USING API CALLS</NavLink>
        </li>
        <li class="tab-button">
            <NavLink ActiveClass="router-link-exact-active" href="/updating-data">UPDATING DATA</NavLink>
        </li>
    </ol>
</div>