<header class="mainheader fixed-head">
    <div class="container-xl">
        <a href="https://www.flexmonster.com/?r=blz" target="blank" class="logo">
            <img src="https://www.flexmonster.com/base/assets/img/svg/logo.svg"/>
        </a>
        <ul class="mainnav">
            <li>
                <a href="https://www.flexmonster.com/doc/?r=blz" target="blank">Docs</a>
            </li>
            <li>
                <a href="https://www.flexmonster.com/support/?r=blz" target="blank">Support</a>
            </li>
            <li>
                <a href="https://www.flexmonster.com/contact/?r=blz" target="blank">Contact us</a>
            </li>
        </ul>
    </div>
</header>
