<header class="mainheader fixed-head">
    <div class="container-xl">
        <a href="https://www.flexmonster.com/?r=rm_blz" target="blank" class="logo">
            <img src="https://www.flexmonster.com/base/assets/img/svg/logo.svg"/>
        </a>
        <ul class="mainnav">
            <li>
                <a href="https://www.flexmonster.com/doc/integration-with-blazor/?r=rm_blz" target="blank">Integration with Blazor</a>
            </li>
            <li>
                <a href="https://www.flexmonster.com/doc/?r=rm_blz" target="blank">Docs</a>
            </li>
            <li>
                <a href="https://www.flexmonster.com/help-center/?r=rm_blz" target="blank">Help center</a>
            </li>
            <li>
                <a href="https://www.flexmonster.com/contact/?r=rm_blz" target="blank">Contact us</a>
            </li>
        </ul>
    </div>
</header>
