@page "/using-api-calls"
<h3 class="page-title">
    Using <a target="blank" class="title-link" href="https://www.flexmonster.com/api/methods/?r=rm_blz">Flexmonster API calls</a>
</h3>

<ToggleSwitch ComponentTriggerFunction="@ControllGridCharts" LabelChecked="Column chart" LabelUnchecked="Grid" />
<ToggleSwitch ComponentTriggerFunction="@ControllInteractiveness" LabelChecked="Read-only" LabelUnchecked="Interactive" />

<FlexmonsterComponent @ref="flexmonster"
                      Report="@report"
                      Toolbar=true
                      Width="100%"
                      Height=600>
</FlexmonsterComponent>

@code {
    private FlexmonsterComponent flexmonster;
    string report = "https://cdn.flexmonster.com/github/demo-report.json";

    private async Task ControllInteractiveness(bool isReadonly)
    {
        if (isReadonly)
        {
            await flexmonster.SetOptions(new Options() { ReadOnly = true });
            await flexmonster.Refresh();
        }
        else
        {
            await flexmonster.SetOptions(new Options() { ReadOnly = false });
            await flexmonster.Refresh();
        }

    }

    private async Task ControllGridCharts(bool isGrid)
    {
        if (!isGrid)
        {
           await  flexmonster.ShowGrid();
        }
        else
        {
            await flexmonster.ShowCharts();
        }
    }


}
